{
  "plugins": [
    ["module-resolver", {
        "root": ["."],
        "alias": {
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@hooks": "./src/hooks",
          "@styles": "./src/styles",
          "@config": "./src/config"
        }
    }]
  ]
}